<div class="container py-3">
    <h1 class="title">Places disponibles</h1>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Rechercher une place ..." [(ngModel)]="searchTerm" (input)="filterPlaces()">
        <button class="btn btn-outline-primary" type="button" (click)="filterPlaces()">Rechercher</button>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <nav aria-label="Pagination">
            <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link"  (click)="previousPage()">Précédent</a>
                </li>
                <li class="page-item" *ngFor="let page of getPages()" [class.active]="currentPage === page">
                    <a class="page-link"  (click)="changePage(page)">{{ page }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages()">
                    <a class="page-link"  (click)="nextPage()">Suivant</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row justify-content">
        <div class="col-md-3 mb-2 place-item" *ngFor="let place of getPlacesForPage()">
            <div class="shadow p-1 border">
                <div class="place-image">
                    <img [src]="(place.image_Url | getLink) || 'http://placehold.it/150x400'" width="100%" height="400px"/>
                </div>
                <div class="card-body">
                    <h3 class="card-title mb-1">

                        <strong>{{ place.title }}</strong>
                    </h3>
                    <!-- <p class="card-text">{{ place.place }}</p> -->
                    <div class="rating d-flex justify-content-center py-2">
                        <span *ngFor="let star of [1, 2, 3, 4, 5]" class="star"
                            [ngClass]="{ 'filled': star <= 2 }">&#9733;</span>({{ 2}})
                    </div>
                    <div class="d-flex gap-2">

                        <a [routerLink]="['/place', place.id]" class="btn btn-primary w-100">Noter</a>
                        <a [routerLink]="['/place', place.id]" class="btn btn-danger w-100">Avis</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <nav aria-label="Pagination">
            <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link"  (click)="previousPage()">Précédent</a>
                </li>
                <li class="page-item" *ngFor="let page of getPages()" [class.active]="currentPage === page">
                    <a class="page-link"  (click)="changePage(page)">{{ page }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages()">
                    <a class="page-link"  (click)="nextPage()">Suivant</a>
                </li>
            </ul>
        </nav>
    </div>
</div>