<!-- add-edit-form.component.html
<div class="modal" tabindex="-1" role="dialog" id="reviewModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Notez ce film</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label>Note :</label>
                <input type="number" class="form-control" [(ngModel)]="review.rating || 0" name="rating" min="1" max="5" >
              </div>
              <div class="form-group">
                <label>Résumé :</label>
                <input type="text" class="form-control" [(ngModel)]="review?.summary" name="summary">
              </div>
              <div class="form-group">
                <label>Avis :</label>
                <textarea class="form-control" [(ngModel)]="review.review" name="review" rows="5"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel')">Annuler</button>
            <button type="button" class="btn btn-primary" (click)="saveReview()">Enregistrer</button>
          </div>
      </div>
    </div>
  </div> -->
  