<!-- confirmation-modal.component.html -->
<div class="modal" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Confirmation de suppression</h2>
          <button type="button" class="btn-close" (click)="cancelDeletion()"> </button>
        </div>
        <div class="modal-body">
          Êtes-vous sûr de l'élément : <strong> {{name}} </strong> ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="confirmDeletion()">Confirmer</button>
          <button type="button" class="btn btn-secondary" (click)="cancelDeletion()">Annuler</button>
        </div>
      </div>
    </div>
  </div>
  